[user]
	email = pencilcaseman@gmail.com
	name = Toby Davis
[diff]
	external = difft

[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[http]
	postBuffer = 524288000
[rerere]
	enabled = true
[pull]
	rebase = false
