.DS_Store
backup/
config.toml
configstore/
gcloud/
gh/
gh-copilot/
github-copilot/
grammarly-languageserver
jgit/
nvim_backup/

.gsd-keyboard.settings-ported
GNOME-xdg-terminals.list
dconf/
evolution/
gtk-3.0/
ibus/
monitors.xml
pulse/
user-dirs.dirs
user-dirs.locale
xdg-terminals.list
environment.d/

lazygit/state.yml
raycast
zed
ghc/ghci_history
peazip
ghidra/ghidra_11.1.2_PUBLIC
btop
ParaView
