[user]
	email = pencilcaseman@gmail.com
	name = Toby Davis
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIFxUMYHXmH5jHvJok8NuS7i1POUzHz8UU3Hu0BfciGO3
[diff]
	external = difft
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[http]
	postBuffer = 524288000
[rerere]
	enabled = true
[pull]
	rebase = false
[gpg]
	format = ssh
[gpg "ssh"]
	program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
[commit]
	gpgsign = true
